* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  font-family: "Roboto Mono", monospace;
  /* font-family: "Montserrat", sans-serif; */
  font-weight: lighter;
  background-color: black;
  width: 100%;
  height: 767px;
}

h1 {
  font-size: 52px;
  position: relative;
  text-decoration: underline blue;
}

nav a {
  color: white;
  position: relative;
  right: 30px;
  background-color: black;
  border: 1px solid black;
  height: 35px;
  width: 120px;
  cursor: pointer;
}

.hiremeButton {
  background-color: blue;
  padding: 5px 30px 5px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.hiremeButton:hover {
  background-color: rgb(0, 0, 139);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.backButton:hover {
  background-color: rgb(0, 0, 139);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.backButton {
  text-decoration: none;
  background-color: blue;
  padding: 10px 30px 10px;
  border-radius: 15px;
  color: white;
  position: relative;
  border: 1px solid black;
  left: 170px;
  cursor: pointer;
}
ul li {
  list-style: none;
}
.greetings li {
  color: white;
  position: relative;
  top: 200px;
}

.cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.theNavBar a {
  font-size: large;

  color: white;
  text-decoration: none;
  margin-left: 35px;
  position: relative;
  right: 100px;
}
.navColor {
  background-color: black;
}

.logo {
  position: relative;
  left: 100px;
  /* top: 20px; */
  width: 150px;
  cursor: default;
}

.information {
  text-align: center;
  display: flex;
  align-items: center;
  height: 70vh;
  display: flex;
  justify-content: space-between;
}
.me {
  padding: 20px;
  filter: grayscale(100%);
  position: relative;
  top: 150px;
  right: 20px;
  height: 600px;
  -webkit-filter: grayscale(100%);
}
.about {
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
  background-color: black;
  width: 100%;
  height: 765px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* filter: grayscale(100%); */
}

.about-img {
  width: 500px;
}
.about-caption {
  color: white;
  width: 500px;
}
.skills-listing {
  width: 600px;
}
.skills-list {
  color: white;
  background-color: black;
  text-align: center;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
}
.text {
  padding-right: 300px;
  padding-bottom: 10px;
  font-size: 20px;
}
.skills-listing li {
  text-align: center;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 10px;
  flex-wrap: wrap;
}
.bar {
  width: 70%;
  border: 1px solid black;
  background-color: white;
  display: block;
  height: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: hidden;
}
.bar span {
  height: 20px;
  float: left;
  background-color: blue;
}
.java {
  width: 90%;
  animation: java 3s;
  -webkit-animation: java 3s;
}
.javaScript {
  width: 90%;
  animation: javaScript 3s;
  -webkit-animation: javaScript 3s;
}

.CSS {
  width: 90%;
  animation: java 3s;
  -webkit-animation: java 3s;
}

.HTML {
  width: 90%;
  animation: java 3s;
  -webkit-animation: java 3s;
}

.Nodejs {
  width: 90%;
  animation: java 3s;
  -webkit-animation: java 3s;
}
.Nextjs {
  width: 90%;
  animation: java 3s;
  -webkit-animation: java 3s;
}

.Solidity {
  width: 90%;
  animation: java 3s;
  -webkit-animation: java 3s;
}

.Cryptography {
  width: 90%;
  animation: java 3s;
  -webkit-animation: java 3s;
}

.C {
  width: 90%;
  animation: java 3s;
  -webkit-animation: java 3s;
}
.MongoDB {
  width: 90%;
  animation: java 3s;
  -webkit-animation: java 3s;
}

.SQL {
  width: 90%;
  animation: java 3s;
  -webkit-animation: java 3s;
}
@keyframes java {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes javaScript {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes java {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes java {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes java {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes java {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes java {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
